@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model CinemaHub.Areas.Admin.Pages.MovieTheaterModel
@{
    Layout = "../_Layout.cshtml";
}
<div class="card">
    <div class="p-2">
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label for="exampleFormControlInput1">Name</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="search by name" data-bind="value: name">
                </div>
            </div>
        </div>
    </div>
    <div class="p-2">
        <button class="btn btn-success" data-bind="click: newItemClick">+ New Movie Theater</button>
    </div>


    <div class="card-body">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Number of rows</th>
                    <th scope="col">Number of seats per row</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <!--ko foreach: base.items-->
                <tr>
                    <th scope="row" data-bind="text: $index()+1+$root.base.startAt"></th>
                    <td data-bind="text: name"></td>
                    <td data-bind="text: rows"></td>
                    <td data-bind="text: numberOfSeatsPerRow"></td>
                    <td>
                        <button class="btn btn-warning" data-bind="click: $root.editClick">Edit</button>
                        <button class="btn btn-danger" data-bind="click: $root.deleteClick">Delete</button>
                    </td>
                </tr>
                <!--/ko-->
            </tbody>
        </table>
        <partial name="../PartialViews/Pagination.cshtml" />
    </div>
</div>


<!-- EDIT MODAL -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bind="with: editModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <!--ko ifnot: $parent.id-->
                    <span>Create Movie Theater</span>
                    <!--/ko-->
                    <!--ko if: $parent.id-->
                    <span>Edit Movie Theater</span>
                    <!--/ko-->
                </h5>
                <button type="button" class="btn-close" data-coreui-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" data-bind="with: form">
                <div class="row">
                    <div class="col-12 mt-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="" placeholder="Name" data-bind="value: name">
                            <label for="">Name</label>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="form-floating mb-3">
                            <input type="number" min="0" class="form-control" id="" placeholder="Number of rows" data-bind="value: rows">
                            <label for="">Number of rows</label>
                        </div>
                    </div>
                    <div class="col-12 mt-2">
                        <div class="form-floating mb-3">
                            <input type="number" min="0" class="form-control" id="" placeholder="Number of seats per row" data-bind="value: numberOfSeatsPerRow">
                            <label for="">Number of seats per row</label>
                        </div>
                    </div>
                    <!--ko if: $parent.id-->
                    <div class="col-12 mt-2">
                        <div class="form-floating">
                            <input type="text" class="form-control" disabled="disabled" id="" placeholder="Created on" data-bind="value: createdOn">
                            <label for="">Created on</label>
                        </div>
                    </div>
                    <!--/ko-->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-coreui-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: saveBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>



@section Scripts
{
    <script src="/lib/admin/js/pages/movieTheater-list.js"></script>
    <script src="/lib/admin/js/pages/movieTheater-edit.js"></script>
}
